version: "3.9"

services:
  backend:
    build: ./server
    container_name: go-server
    ports:
      - "8080:8080"
    restart: always

  frontend:
    build: ./client
    container_name: react-client
    ports:
      - "3001:80"
    depends_on:
      - backend
    restart: always